.animated_circle {
  animation: vibrate 3s infinite ease-in-out;
}

@keyframes vibrate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}
