@import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:opsz,wght@6..72,400;6..72,500;6..72,600;6..72,700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body {
  background: #f9f7f4;
}
button,
a {
  cursor: pointer;
  font-family: inherit;
}
